*~
renv.lock.bak
renv/
.tests.R
.tests-base.R

# rstudio-server directories
*.config
*.local

# R files
.Rhistory

# metadata directory, ignored in research-template, ignore for rstudio test
metadata/

.env
